@using PaintedPoker.Components.Game
@using PaintedPoker.Entities
@using PaintedPoker.Services

@attribute [Route(Nav.Games + "/{name}")]
@rendermode InteractiveServer
@inject IGameService gameService

@code {
    [Parameter]
    public required string Name { get; set; }

    GameData? GameData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameData = await gameService.GetGameByName(Name);
    }
}

@if (GameData is not null)
{
    <p>Game: @Name</p>
    <Table Players=GameData.Players Rounds=GameData.Rounds/>
}
else
{
    <p>Game does not exist</p>
}